
    <div class="container">
        <div class="column1">
            <div class="notice">
                ***Monday, January 6th, Is The Last Day To Reserve A Spot ***
            </div>

        </div>
        <div class="column2">
            <div class="detail-container">
                <div class="banner">
                    <b>2020 Tax Secrets FREE Assessment for Doctors!</b>
                </div>
                <div class="content-image">
                    <img class="image" width="750px" src="../../assets/images/family.jpg">
                </div>
                <div class="registration">
                    <button type="button" class="register-btn btn" routerLink="/signup">Register Now For Free</button>
                </div>
                <div class="how">
                    How Doctors Can <b>Save $57,353</b> Or More Per Year In Taxes Event If The Have A CPA*
                </div>
                <div class="dontmiss">
                    Don't Miss This...Register Now To Acess A FREE TAX Assesment & Save THOUSANDS!

                </div>
            </div>
        </div>

    </div>
<app-footer></app-footer>
