<footer>
    <div class="col"   
    >This site is not part of the Facebook website or Facebook Inc.
    Additionally, this site is not endorsed by Facebook in Any Way. FACEBOOK is a trademark
    of Facebook, Inc.</div>
    <div class="col">
      <span>Copyright © 2019 - taxplanningadvisors.com</span>
      <div>Terms Of Use, Privacy, Earnings Disclaimer<br>
        <span>*These are not guaranteed savings. Savings may be more or less and will be
          determined during your assessment based on your business size and circumstances.</span>
      </div>
    </div>
</footer>
