<div class="signup-container">
<div class="content">
    <div class="row">
        <div class="column col-1-basis">
          <div class="row">
              <div class="image-container">
                <img class="left-image" src="../../assets/images/calculator.png">
              </div>
            
            <!-- <div class="column">
                
            </div> -->
          </div>
          <div class="row name">Greg Bourque</div>
          <div class="row caption">The Tax Savings Expert</div>
        </div>
        <div class="column col-2-basis">
            <div class="row message">How Real Estate Investors <b>Save $22,353 In Taxes</b> Even If They Have A CPA*</div>
            <div class="row directions">Simply enter your email address below to sign up:</div>
        </div>
      </div>
</div>
</div>
