<div class="signup-container">
<div class="content">
    <div class="row">
        <div class="column col-1-basis">
          <div class="row">
              <div class="image-container">
                <img class="left-image" src="../../assets/images/calculator.png">
              </div>
            
            <!-- <div class="column">
                
            </div> -->
          </div>
          <div class="row name">Greg Bourque</div>
          <div class="row caption">The Tax Savings Expert</div>
        </div>
        <div class="column col-2-basis">
            <div class="row message">How Real Estate Investors <b>Save $22,353 In Taxes</b> Even If They Have A CPA*</div>
            <div class="row directions">Simply enter your information below to sign up:</div>
            <div class="row name"></div>
            <div class="row email"></div>
            <div class="row mobile"></div>
            <div class="row signup">
              <button type="button" class="signup">Sign Up!</button>
            </div>
            <div class="disclaimer">*These are not guaranteed savings. Savings may be more or less and will be determined during your 
              assessment based on your business size and circumstances.</div>
        </div>
      </div>
</div>
</div>
